* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #d0e0d3;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 510px;
    background-color: #216651;
    margin: 20px auto;
    border-radius: 10px;
}


.titulo {
    font-family: 'Nabla', cursive;
    text-align: center;
    font-size: 3rem;
}

.score {
    align-self: flex-end;
    margin-right: 40px;
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 5px;
}

canvas {
    width: 430px;
    height: 512px;
    border: 2px solid black;
    background: no-repeat center url(https://d3ugyf2ht6aenh.cloudfront.net/stores/335/332/products/papel-de-parede-quadriculado-cinza-chumbo-com-fundo-cinza-claro-min1-cd660b7897a35528c916238714640467-480-0.jpg);
    background-size: cover;
}

.comandos {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr;
    grid-template-rows: 40px 40px;
    gap: 10px;
    width: 100%;
    padding: 10px 40px;
}

button {
    border-radius: 5px;
    background-color: #b8d8c0;
    border: none;
    font-family: 'Press Start 2P', cursive;
    color: #000; 
    padding: 10px;  
}

button:hover {
    background-color: #74baa0;
}

.start {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    font-size: 1.5rem;
    margin-right: 20px;
}
.cima {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.baixo {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.esquerda {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.direita {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}

.gameover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 430px;
    height: 512px;
    visibility: hidden;
}

.gameover > p {
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
}